In [53]:
#traer drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [54]:
#traigo los datos del archivo original
filename = '/content/drive/My Drive/titanic.csv'
df = pd.read_csv(filename)

In [55]:
df.head()
#Muestren el centro del marco de datos.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [80]:
#Cuál es el porcentaje de las personas que sobrevivió? (pista: encuentren la media de la columna de supervivencia).
media_sobrevivientes = (df['Survived'].mean()) * 100
fare = df['Fare'] < 10
print(f'La media de sobrevivientes fue {media_sobrevivientes}%')

La media de sobrevivientes fue 38.38383838383838%

In [73]:
#¿Cuántos de cada sexo sobrevivieron?

survived_filter = df['Survived'] == 1
survived_df = df[survived_filter]
mujeres = survived_df['Sex'].value_counts()[0]
hombres = survived_df['Sex'].value_counts()[1]

print(f"Hubo {mujeres} mujeres que sobrevivieron, y {hombres} hombres que no murieron.")

Hubo 233 mujeres que sobrevivieron, y 109 hombres que no murieron.

In [74]:
#Si consideran solo el grupo de pasajeros que pagó menos de $10, ¿cuál sería el porcentaje de este grupo que sobrevivió?

pago = df['Fare'] < 10
fare_df = df[pago]
ps_ten_dollar_fare = fare_df['Survived'].value_counts(normalize=True)[1]
print(f'El porcentaje de este grupo que sobrevivió fue {int((ps_ten_dollar_fare * 100).round())}%')

El porcentaje de este grupo que sobrevivió fue 20%

In [76]:
#En total, ¿cuál es la edad promedio de los que no sobrevivieron y de los que sobrevivieron?
edad = ~df['Age'].isna()
filtered_age_df = df[edad]
avg_ages = filtered_age_df.groupby('Survived')['Age'].mean()
print(f"La edad en que m[as sobrevivieron fue {int(avg_ages[1].round())}.")
print(f"La edad en la que menos sobrevivieron fue {int(avg_ages[0].round())}")

La edad en que m[as sobrevivieron fue 28.
La edad en la que menos sobrevivieron fue 31

In [82]:
#¿Cuál es el promedio de edad de lo que sobrevivieron y no agrupados por sexo?
promedios = filtered_age_df.groupby(['Survived', 'Sex'])['Age'].mean()
mujeresmuertas = promedios[0][0].round(1)
hombresmuertos = promedios[0][1].round(1)
mujeresvivas = promedios[1][0].round(1)
hombresvivos = promedios[1][1].round(1)

print(f"El promedio de las mujeres en edad que no sobrevivieron fue {mujeresvivas}, y el promedio de hombres fue {hombresvivos}. ")
print(f"El promedio de las mujeres en edad que no sobrevivieron de edades que no sobrevivieron fue {mujeresmuertas}, y el de hombres fue {hombresmuertos}. ")

El promedio de las mujeres en edad que no sobrevivieron fue 28.8, y el promedio de hombres fue 27.3.
El promedio de las mujeres en edad que no sobrevivieron de edades que no sobrevivieron fue 25.0, y el de hombres fue 31.6.